.vehicle-query-main-frame {
    background: transparent;
    width: 100%;
    height: 83%;
}

.vehicle-query-header {
    background: transparent;
    width: 99.5%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
}

.vehicle-query-header-box {
    display: flex;
    padding: 12px 17px;
    align-items: center;
    height: 1.5rem;
    gap: 10px;
    width: 44rem;
    position: relative;
    left: .7rem;
    top: .8rem;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    align-self: stretch;
}

.vehicle-query-box-inp {
    background-color: transparent;
}

.vehicle-query-box-inp input {
    border: 1px;
    color: rgba(255, 255, 255, 0.30);
    font-family: SF Pro Text;
    font-size: 14px;
    font-style: normal;
    background-color: transparent;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.vehicle-query-box-inp input:focus {
    outline: 0;
}

.vehicle-query-search-button {
    display: flex;
    width: fit-content;
    background: #5E81FF;
    height: fit-content;
    border-radius: .4rem;
    border: 1px solid transparent;
    padding: 18px;
    transition: .5s;
    color: #fff;
    position: relative;
    left: 1.3rem;
    top: .8rem;
    font-size: 12px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.vehicle-query-search-button:hover {
    transition: .5s;
    border: 1px solid #5E81FF;
    color: #5E81FF;
    background: transparent;
}

.vehicles-container {
    font-family: "SF Pro Display", Arial, sans-serif;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 13px;
  }
  
  .vehicles-container h1 {
    font-size: 18px;
    font-family: 'SF PRO DISPLAY';
    font-weight: 500;
    color: #dbdbdb;
    margin-bottom: 19px;
  }
  
  .table-wrapper {
    overflow: auto;
    border-radius: 7px;
    background-color: transparent;
    max-height: 435px;
  }
  
  .vehicles-table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
  }
  
  .vehicles-table th,
  .vehicles-table td {
    text-align: left;
    padding: 16px;
    background-color: transparent;
    color: #d1d1d1;
  }
  
  .vehicles-table th {
    color: #737373;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .vehicles-table tbody tr {
    transition: background-color 0.2s ease;
  }
  
  .vehicles-table tbody tr:hover td {
    background-color: #2a2b31;
    transition: .5s;
  }
  
  .vehicle-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

.view-button {
  background: #219167;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: .6rem;
  cursor: pointer;
  transition: .5s;
  align-items: center;
  padding: 10px;
  color: #fff;
  justify-content: center;
}

.view-button:hover {
    transition: .5s;
    background: #1d7957;  
}
  











.cquery-head {
  background-color: transparent;
  width: 100%;
  height: 4.5rem;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #181818;
}

.cquery-put {
  display: flex;
  justify-content: flex-start;
  width: 64rem;
  background: transparent;
  margin-left: 1rem;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  height: 2.78rem;
  align-items: center;
}

.cquery-put input {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.30);
  font-family: SF Pro Text;
  font-size: 14px;
  margin-left: .5rem;
  width: 42rem;
  font-style: normal;
  border: 1px solid transparent;
  font-weight: 400;
  line-height: 24px;
}

.cquery-put input:focus {
  outline: 0;
}

.cquery-box {
  background-color: transparent;
  width: 97%;
  height: 37rem;
  border-radius: 12px;
  border: 1px solid #17181C;
  margin-top: 1rem;
  display: flex;
  margin-left: 1rem;
  flex-direction: column;
}

.cqbox {
  border: 1px solid #c1c1c1 !important;
}

.citizen-list-item img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 4px;
}

.cquery-header {
  border-radius: 12px 12px 0px 0px;
  background: #141414;
  width: 100%;
  height: 66px;
  align-items: center;
  display: flex;
}

.black-text {
  color: #000 !important;
}

.white-bold {
  background-color: #b9b9b9 !important;
}

.part-title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  margin-left: 1.5rem;
  line-height: 14.461px;
}

.partd {
  color: #000 !important;
}

.cquery-mini-header {
  width: 97%;
  height: 3rem;
  border-radius: 4px;
  font-family: 'SF PRO DISPLAY';
  display: flex;
  align-items: center;
  color: #ababab;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: #141414;
}

.cquery-white {
  color: #000000 !important;
  background-color: #c3c3c3 !important;
}

.citizen-list {
  background-color: transparent;
  width: 97%;
  height: 29rem;
  margin-left: 1rem;
  overflow: auto;
}

.citizen-list-item {
  background-color: #141414;
  width: 100%;
  height: 4rem;
  margin-top: .5rem;
  font-family: 'SF Pro Display';
  display: flex;
  border-radius: 4px;
  cursor: pointer;
  justify-content: flex-start;
}

.c-list-white {
  background-color: #bfbfbf !important;
}

.citizen-list-item:hover {
  transition: .5s;
  background-color: #1c1c1c;
}

.button-rev2 {
  height: 2rem;
  width: 2rem;
  background: #228d60;
  color: #d7d7d7;
  border-radius: 7px;
  font-size: 12px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}