.aboutdevice-frame {
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.aboutdevice-frame-label {
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: SF Pro Text;
    position: relative;
    font-size: 20px;
    left: 2rem;
    top: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 132.836%;
}

.aboutdevice-form {
  width: 98%;
  height: fit-content;
  flex-shrink: 0;
  margin-left: 2rem;
  margin-top: 2.5rem;
  border-radius: 5px;
  color: #fff;
  background: #22222214;
}

.aboutdevice-form.lightmode {
  background-color: #f5f5f5 !important;
  color: #000 !important;
}

.aboutdevice-form-item.lightmode {
  border-bottom: 1px solid #dddddd !important;
}

.aboutdevice-form-item {
  width: 100%;
  display: flex;
  height: 3.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #161616;
}

.accessible {
    background-color: transparent;
    transition: .5s;
    cursor: pointer;
}

.accessible:hover {
    transition: .5s;
    background:rgba(0, 0, 0, 0.1);
}

.aboutdevice-form-item-left {
    color: #9B9B9B;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: SF Pro Text;
    font-size: 14px;
    margin-left: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 132.836%; /* 18.597px */
}

.aboutdevice-form-item-right {
    text-align: right;
    leading-trim: both;
    text-edge: cap;
    margin-right: 1.5rem;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: SF Pro Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.836%; /* 18.597px */
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .modal {
    background: #16171a;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.3s ease-in-out;
  }
  
  .modal h2 {
    font-family: 'SF PRO DISPLAY';
    color: #b7b7b7;
    font-size: 16px;
    margin-left: .5rem;
    margin-top: 0.5rem;
  }
  
  .modal input {
    width: 100%;
    padding: 10px;
    background: #16171a;
    color: #fff;
    font-family: 'SF PRO DISPLAY';
    border: 1px;
    border-radius: 5px;
  }

  .modal input:focus {
    outline: 0;
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .modal-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-actions button:first-child {
    background-color: #28a745;
    color: #fff;
    transition: .5s;
    font-family: SF Pro, sans-serif;
  }
  
  .modal-actions button:first-child:hover {
    background-color: #218838;
    transition: .5s;
  }
  
  .modal-actions button:last-child {
    background-color: #515151;
    color: #bdbdbd;
    font-family: 'SF PRO DISPLAY';
    transition: .5s;
  }
  
  .modal-actions button:last-child:hover {
    background-color: #414141;
    transition: .5s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-50px);
    }
    to {
      transform: translateY(0);
    }
  }

.software-update-check {
    background-color: #3e7f4e;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 100;
    font-family: 'SF PRO DISPLAY';
    transition: .5s;
    margin-top: 1.1rem;
    margin-right: 1rem;
}

.loader {
    border: 2px solid #e1e1e1;
    border-top: 2px solid #049aff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.checkbut {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 21px;
    background-color: rgb(42 45 57);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}