.n-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
    background: transparent;
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
  }

  .n-modal-overlay.show {
    opacity: 1;
    z-index: 100;
  }
  
  .n-modal-overlay.hide {
    opacity: 0;
    z-index: 0;
  }
  
  .n-modal-box {
    background: white;
    border-radius: 16px;
    width: 315px;
    padding: 1px;
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .n-modal-title {
       font-size: 17px;
    color: #000;
    padding-top: .5rem;
    font-weight: bold;
    font-family: 'SF Pro Display';
  }
  
  .n-modal-message {
    margin-top: 10px;
    color: gray;
    font-size: 13px;
    font-family: 'SF PRO DISPLAY';
  }
  
  .n-modal-buttons {
    display: flex;
    border-top: 1px solid #ddd;
    margin-top: 20px;
  }
  
  .n-cancel-btn2,
  .n-confirm-btn {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #0058ff;
    font-family: 'SF Pro Display';
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .n-cancel-btn2:hover,
  .n-confirm-btn:hover {
    background: #f1f1f1;
  }
  
  .n-cancel-btn2 {
    border-radius: 0 0 0 16px;
  }
  
  .n-confirm-btn {
    border-left: 1px solid #ddd;
    border-radius: 0 0 16px 0;
  }
  
  .fade-in {
    transform: scale(1);
    opacity: 1;
  }
  
  .fade-out {
    transform: scale(0.9);
    opacity: 0;
  }
  